<div class="container-fluid">
  <div class="row">
    <nav class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="position-sticky pt-3">
        <div *ngFor="let menuGroup of menu" class="nav-section" routerLinkActive="active">
          <h5 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1">
            {{menuGroup.displayName}}
          </h5>
          <ul class="nav flex-column">
            <li class="nav-item" *ngFor="let menuItem of menuGroup.items" routerLinkActive="active">
              <a [routerLink]="[menuGroup.basePath, menuItem.path]" class="nav-link">
                {{menuItem.displayName}}
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="row py-4">
        <div class="col-6">
          <router-outlet></router-outlet>
        </div>
        <div class="col-6">
          <div class="card">
            <div class="card-body">
              <pre>{{ messages$ | async | join }}</pre>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
