nav.sidebar, main {
  min-height: 100vh;
}

.nav-link {
  color: #333;
}

.nav-item {
  border-left: 2px solid transparent;

  &:hover {
    background-color: #DFE2EB;
  }

  &.active {
    border-color: #3389FF;
    font-weight: bold;
  }
}
