@import "bootstrap/scss/bootstrap";
@import "ngx-toastr/toastr";

@import "prismjs/themes/prism.css";
@import "prismjs/themes/prism-okaidia.css";
//@import "prismjs/themes/prism-solarizedlight.css";

pre code .token.operator {
  background: none;
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
}

pre code span {
  // Equal to prism config, needed to override the '*' family.
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}
